*.log

### Composer ###
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file


### PhpStorm ###
.idea
.idea/*


### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
# sftp configuration file
sftp-config.json
ftpsync.settings

### NetBeans ###
/nbproject/private/
/nbproject/*
/nbproject/project.properties
/nbproject/project.xml
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
.nb-gradle/

/composer.lock

